fastapi
uvicorn
python-multipart
python-dotenv
langchain==0.3.17
langchain-community==0.3.11
scikit-learn
numpy
google-generativeai
groq
azure-cognitiveservices-vision-computervision
pypdf
python-docx
reportlab
pillow
pydantic
itsdangerous
sqlalchemy
bcrypt
PyJWT
ollama
